.main-menu {
  margin-top: 8rem;
  a,
  a:hover {
    color: white;
    text-decoration: none;
  }
  span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #6a737d;
  }
}

address {
  font-size: 1.5rem;
}

.display-4 {
  margin-bottom: 3rem;
}

.lnr.lg {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.card-deck {
  margin-top: 2rem;
  .card.empty {
    background-color: transparent;
  }
}

.morning {
  height: 6rem;
}

.card-header {
  background-color: #3bd196;
  font-size: 1.3em;
  font-weight: bold;
}

#sponsors {
  .images {
    padding: 2em 0;
    img {
      width: 10rem;
    }
  }
}
