.main-menu {
  margin-top: 8rem;
  a,
  a:hover {
    color: white;
    text-decoration: none;
  }
  span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #6a737d;
  }
}

address {
  font-size: 1.5rem;
}

.display-4 {
  margin-bottom: 3rem;
}

.lnr.lg {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.card-deck {
  margin-top: 2rem;
  .card.empty {
    background-color: transparent;
  }
}

.morning {
  height: 6rem;
}

.card-header {
  background-color: #3bd196;
  font-size: 1.3em;
  font-weight: bold;
}

.sponsors {
  .images {
    padding: 2em 0;
    text-align: center;
    img {
      width: 10rem;
      &.prestige {
        width: 25rem;
      }
    }
  }
  .category {
    img {
      width: 15rem;
    }
    .row {
      box-shadow: 0 6rem 2rem -6rem #bcbcbc;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .lnr.lg {
    font-size: 3rem;
  }
}