body {
  font-family: 'Palanquin', sans-serif;
  min-height: 75rem;
}

h1 {
  font-size: 4.5rem;
}

.jumbotron {
  background-color: transparent;
}

.jumbotron.dark,
header nav,
footer {
  background-image: linear-gradient(180deg, #24292e, #2b3137);
  box-shadow: 0px 2px 3px #2B2B2B;
}

.jumbotron.nav {
  background-image: url('images/home-bg2.svg'), linear-gradient(180deg, #24292e, #2b3137);
  background-size: 100% auto;
  background-position: center 75px, 0 0;
  padding-top: 8em;
  padding-bottom: 5em;
  background-repeat: no-repeat;
}

.lead {
  font-size: 2rem;
}

header,
footer {
  a,
  a:hover,
  a:visited,
  a:active {
    color: white;
    text-decoration: none;
  }
}

footer p.float-right {
  margin: 0;
}



@media (max-width: 576px) {
   h1 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1.5rem;
  }

  .jumbotron.nav {
    background: linear-gradient(180deg, #24292e, #2b3137);
    padding-top: 6em;
    padding-bottom: 2em;
  }
}